* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color:#e8c9cd;
    font-weight: 600;
    font-size: 2rem;
    opacity: 0.8;
}
h2 {
    color:#e8c9cd;
    font-weight: 600;
    opacity: 0.8;
}
h4 {
    color:#e8c9cd;
    font-weight: 500;
    opacity: 0.8;
}
p {
    color:#e8c9cd;
    font-weight: 300;
    opacity: 0.8;
}
h3 {
    color:#e8c9cd;
    font-weight: 500;
    opacity: 0.8;
}
main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #d299c2 0%, #fef9d7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass {
    min-height: 80vh;
    width: 60%;
    background-image: linear-gradient(
        to right top,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.3)
    );
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    margin: 15px;
    z-index: 2;
    display: flex;
} 
.circle1,.circle2 {
    background-image: linear-gradient(
        to right bottom,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.4)
    );
    width: 15rem;
    height: 15rem;
    position: absolute;
    border-radius: 50%;
}
.circle1 {
    top: 5%;
    left: 10%;
}
.circle2 {
    bottom: 5%;
    right: 10%;
}
.dashboard {
    background-image: linear-gradient(
        to right bottom,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.4)
    );
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex:2;
    color: white;
    padding: 20px;
}
.icon {
    height: 2rem;
}
.link {
    display: flex;
    margin: 10px 0px;
    padding: 0px 10px;
    align-items: center;
}
.link h3 {
    padding: 0px 10px;;
}
.dp {
    height: 5rem;
}
.pro {
    background-image: linear-gradient(to right top, #d299c2 0%, #fef9d7 100%);
    border-radius: 1.5rem;
    color: black;
    padding: 0px 15px;
    position: relative;
}
.pro img {
    position: absolute;
    top: -10%;
    right: 10%;
    height: 6rem;
}
.pro h3 {
    width: 40%;
    font-weight: bolder;
    text-align: left;
    color: black;
}
.status {
    margin-bottom: 2rem;
}
.status input {
    background-image: linear-gradient(to right top, #d299c2 0%, #fef9d7 100%);
    border: none;
    padding: 3px;
    border-radius: 15px;
    width:50%
}
.games {
    margin: 30px;
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card { 
    display: flex;
    background-image: linear-gradient(
        to right bottom,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.5)
    );
    border-radius: 1.5rem;
    margin: 10px 0px;
    padding: 15px;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.596);
    justify-content: space-between;
}
.card img {
    min-height: 1rem;
    width: 1rem;
    flex:1.5;
    border-radius: 1rem;
    
}
.card-info {
    flex:4;
    padding: 0px 10px;
}
.percentage {
    flex:0.5;
}
.progress {
    background-image: linear-gradient(to right top, #d299c2 0%, #fef9d7 100%);
    width: 100%;
    height: 20%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(230, 230, 230);
    left: 40%;
}
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.percentage {
    font-weight: bold;
    background-image: linear-gradient(to right, #d299c2 0%, #fef9d7 100%);
    -webkit-background-clip: text;
}